General Degree Requirements | Duke Pratt School of Engineering
Apply
Menu
Who We Are
Our Story
Our Story
Dean’s Welcome
Strategic Vision
Focus Themes
History
Diversity, Equity, Inclusion & Community
Character Forward
Our Team
Dean’s Office Staff
Board of Visitors
Full Directory
Careers
Visit Us
Awards & Recognition
External Faculty Awards
NAE Members
Pratt School of Engineering Awards
Admissions
Undergraduate
Undergraduate Admissions
First-Year Design
Undergraduate Student Outcomes
Master's
Master’s Admissions
Master’s Student Outcomes
PhD
PhD Admissions
PhD Student Outcomes
Financial Support
Admitted Students
International Students
Campus Tours
Academics
Departments
Biomedical Engineering
Civil & Environmental Engineering
Electrical & Computer Engineering
Mechanical Engineering & Materials Science
Institute for Enterprise Engineering
Faculty
Undergraduate
Undergraduate Experience
General Degree Requirements
Majors & Minors
4+1: Bachelors & Master’s Program
Your First Year
Student Entrepreneurship
Undergraduate Research
Master's
Master’s Experience
Master’s Degrees
PhD
Certificates
Life at Pratt
Life at Pratt
Organizations & Clubs
Life in Durham
Student Resources
Undergraduate Student Resources
Graduate Student Resources
Advising
Internships & Career Services
PhD Plus Professional Development
Undergraduate Policies & Procedures
Research & Impact
Pre-Research Support
High-Impact Research
Signature Research Areas
Selected External Funding Awards
Centers & Institutes
Translation
Signature Discoveries
Entrepreneurship
Community-Based Innovation
2024 Impact Report
News & Events
News
Media Coverage
Media Hits
Media Relations
Publications
Magazines
Email Newsletters
Rate of Change Podcast
Events
All Events
Commencement
Engineers Week
Search
Submit
Alumni & Parents
Alumni
Parents
Giving
Industry
Industry Engagement
Student Engagement
Affiliates Program
Give
Directory
Apply
General Degree Requirements
For the Bachelor of Science in Engineering at Duke University.
The Bachelor of Engineering at Duke has 34 credits that span coursework in computational thinking, general engineering and applied science, writing, mathematics, the natural sciences, the humanities and social sciences, and the chosen engineering major field of study.
Academic Writing (1)
This requirement is met by completing a course offered through the
Thompson Writing Program
.
Mathematics (5)
This requirement is met by completing Math 111L, Math 112L or 122L, 218D-2, 219, and 353.
Browse math courses
.
Natural Science (4)
This requirement is met by completing Chemistry 101DL (21L), Physics 151L and 152L, and an elective course in one of the natural science departments, which presents fundamental knowledge about nature and its phenomena, preferably including quantitative expression.
More about Natural Science courses at Duke
.
Important Note
Each academic department maintains a list of allowable courses that satisfy the Natural Science requirement. To see your department’s list, consult its website and central office.
Humanities and Social Science (5)
This requirement is met by the completion of five courses selected from at least three of the following four areas of knowledge:
Arts, Literature and Performance (ALP)
Civilizations (CZ)
Foreign Languages (FL)
Social Sciences (SS)
Important Notes
At least one course must be classified SS.
To provide depth in the subject matter, at least two of the five courses must be selected from a single department, and at least one must be 200 or above.
Courses selected must present the essential subject matter and substance of the discipline.
More about arts, humanities & languages courses at Duke
.
More about Duke’s social sciences courses
.
Engineering & Applied Sciences (3)
This requirement is met by completing one course from four of the following seven areas:
Digital systems
Electrical science
Information and computer science
Mechanics (solid and fluid)
Materials science
Systems analysis
Thermal science and transfer processes
Digital Computation (1)
Students acquire computational thinking ability in the First Year through EGR 105L.
Engineering Department Courses (15)
The academic department administering the major field of study or the interdisciplinary curricula for IDEAS students specifies this requirement.
Generally, it consists of required and elective courses planned in consultation with a student’s advisor. Including the four credits in engineering and applied sciences listed under general requirements (see above paragraph), a total of 13.0 credits in engineering work are required.
Browse all engineering courses
.
Explore Duke Engineering
Majors & Minors
Advising
Life at Duke
Entrepreneurship
Internships
Career Services
Enrollment & Graduation Rates
Course Catalog
Earn a Master’s with Just 1 More Year at Duke
What a difference a year can make. With just an additional year of study, you can launch from Duke with an engineering master’s degree. This dual-degree option is available in all our Duke Engineering master’s programs.
Learn How
Browse Programs
Duke Pratt School of Engineering Logo
305 Teer Engineering Bldg
Box 90271
Durham, NC 27708
(919) 660-5386
Duke Engineering Now Newsletter
Email
Visit
Contact Us
Emergency Information
Pratt Intranet
Engineering Faculty Council
Faculty Governance
Accessibility
Report a Web Problem
© Copyright
— All Rights Reserved
This website uses cookies as well as similar tools and technologies to understand visitors' experiences. By continuing to use this website, you consent to Duke University's usage of cookies and similar technologies, in accordance with the
Duke Privacy Statement
.
I Accept