@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
    --color-duke-navy-blue: #012169;
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'EB Garamond', 'Times New Roman', Times, serif;
}
